body{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #31313b url(assets/images/bg.png) no-repeat center;
	background-size: cover;
    color: #ffffff;
}
#game-screen-container{
	overflow: hidden;
    padding: 5px;
}
#game-screen{
    position: absolute;
	width: 100%;
	height: 100vh;
    top: 0;
    left: 0;
}

.game-object img{
	display: none;
}

#start-btn,#img-retry,#start-btn,#continue-btn{
	display: none;
}
#start-btn.show{
	position: absolute;
	top: 20px;
	right: 15px;
}

#app.show{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.5);
	background-size: cover;
	color: #ffffff;
}
.show{
	position: absolute;
	top: 20px;
	right: 15px;
	display: block !important;
}
.card-dark{
	background: #22222ed7;
	margin: 20px 10px;
	height: 90vh;
}

input {
	height: 50px;
	background: #31313b !important;
	color: #ffffff !important;
}
.btn-primary,.bg-primary{
	background: #a7873c;
}