body{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #31313b url(assets/images/bg.png) no-repeat center;
	background-size: cover;
    color: #ffffff;
}
#game-screen-container{
	overflow: hidden;
    padding: 5px;
}
#game-screen{
    position: absolute;
	width: 100%;
	height: 100vh;
    top: 0;
    left: 0;
}

.game-object img{
	display: none;
}

#start-btn.show{
	position: absolute;
	top: 20px;
	right: 15px;
}

#app{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.7);
	background-size: cover;
	color: #ffffff;
}
.show{
	position: absolute;
	top: 20px;
	right: 15px;
	display: block !important;
}
.forms .page{
	display: none;
}
.render{
	display: block !important;
}
.hide{
	display: none;
}

.img-result{
	width: 96px;
	margin: 32px;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
	animation: fadeIn ease 2s;
	transition: 0.2s;
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

.card-dark{
	background: #22222ed7;
	margin: 20px 10px;
	margin-top: 48px !important;
	padding: 5% 0px !important;
	height: 90vh;
}

input {
	background: #31313b !important;
	color: #ffffff !important;
	border: none !important;
	box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.1);
}
button, input {
	height: 64px;
}

.hover:hover{
	cursor: pointer;
	filter: brightness(80%);
}

#otp-code{
	letter-spacing: 40px;
	text-align: center;
	/* font-size: 70px; */
	font-weight: lighter;
}
#otp-code:invalid {
    border: 2px solid red !important;
}

#notification {
	display: block !important;	
	z-index: 5000 !important;
}
.toast{
	width: 256px;
}

.trophy-title{
	margin-top: 36px;
}
.trophy-title h1{
	font-weight: bold;
	font-size: 40px !important;
}
.trophy-subtitle{
	font-weight: normal;
}
.trophy-drink{
	position: absolute;
	top: 100px;
	right: 0;
}
#img-pouring, #img-beer, #img-stout{
	position: relative;
	display: block;
}
#img-pouring{
	width: 360px;
	margin-top: -372px;
}
#img-beer{
	width: 256px;
	margin-left: -192px;
}
#img-stout{
	width: 176px;
	margin-left: -172px;
	margin-top: -38px;
}
