<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords">
        <meta name="author" content="Femi Ayodeji">
        <meta name="description" content="Can Cup">
        <title>Can Cup</title>
        <link href="libs/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12 p-0">
                    <div class="card card-dark p-4">
                        <h4 class="text-center">Login</h4>
                        <div class="form">
                            <div class="m-4">
                            <input type="email" placeholder="Email address" class="form-control" id="email-address" />
                            </div>
                            <div class="m-4 float-end">
                                <button id="cancel-btn" class="btn btn-light">Cancel</button>
                                <button id="login-btn" class="btn btn-primary">Continue</button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="libs/bootstrap.bundle.min.js"></script>
        <script>
        </script>
    </body>
</html>